{% extends template.self %}
{% block book_sidebar %}
<div class="my-head">
    <nav role="navigation" class="autoshow">
        <ul class="header-login">
            <li style="text-align: center;">
                <a id="my-login" href="/zh/" class="btn" target="_self">
                    <!-- <img src="/assets/icon_sipeed2.png" height="30" /> -->
                    <img src="/assets/logo.svg" height="30" />
                </a>
            </li>
            <li style="text-align: center;margin-top: 10px;font-size: 15px;color: white;">
                编程指南资料下载
            </li>
        </ul>
    </nav>
</div>
{{ super() }}
{% endblock %}
{% block javascript %}
{{ super() }}
<script type="text/javascript">

</script>
{% endblock %}