#my-login:hover{
  background: none;
}
.autoshow ul.header-login{
  padding: 0;
  list-style: none;
}

.book-summary {
    font-family: "MicrosoftYaHei","微软雅黑","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.book-summary{
  background-color: #3f4fa0;
  border-right: 1px solid #7088ff;
  transition: all 0.5s ease-in;
}
.book-body{
  transition: all 0.5s ease-in;
}
.book-summary ul.summary{
  background-color: #7088ff;
}
.book-summary ul.summary > li{
  border-top: 1px solid rgba(255,255,255,0.12);
  position: relative;
}
/* .book-summary ul.summary > li::after{
  content: ">";
  background-image: url('/assets/img/arrow.svg');
  width: 13px;
	height: 7px;
  position: absolute;
  right: 15px;
  top: 12px;
  color:white;
  font-weight: 500;
  font-size: 18px;
} */
.book-summary ul.book-summary > li i.exc-trigger.fa{
  border: 1px solid red;
}
.book .book-summary .exc-trigger{
  right: 20px;
  left: unset;
  font-size: 20px;
}
.book-summary ul.summary > li:last-child{
  border:none;
}
.book-summary ul.summary > li:first-child{
  border:none;
}
.book-summary ul.summary li.divider{
  border: none;
  position: absolute;
  display: block;
}
.book-summary ul.summary li a, .book-summary ul.summary li span{
  color: #d9d9d9;
  padding: 15px 15px;
}
.book-summary ul.summary li a:hover, .book-summary ul.summary li span:hover{
  color: #bd2c2a;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.25s ease-in;
}
div.book-summary > nav > ul > li.chapter.expanded > ul a,div.book-summary > nav > ul > li.chapter.expanded > ul span{
 color: #242424;
}
.book-summary ul.summary li.active>a{
  color: #d9d9d9;
}
body > div > div.book-summary > nav > ul > li.chapter.expanded > ul > li.chapter.active.expanded > a,
body > div > div.book-summary > nav > ul > li.chapter.expanded > ul > li.chapter.active.expanded > span{
  color: red;
}
.book .book-summary .chapter > .articles{
  background-color: #ffffff;
}

.book .book-summary .exc-trigger:before{
  position: relative;
  top: 5px;
}

.my-head{
  padding: 12px;
  height: 180px;
}
.autoshow ul.header-login{
  margin-top: 25px;
}
#book-search-input{
  padding: 0;
  text-align: center;
  position: relative;
  height: 26px;
  width: 236px;
  margin: 0 auto;
  top: -40px;
}
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover{
  background: #ffffff;
  border: none;
}
#book-search-input::before{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url('/assets/search.svg');
  left: 5px;
  top: 6px;
}
#my-book-search-input i{
  position: absolute;
  left: 5px;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translate(0,-50%);
}
#book-search-input input{
  width: 100%;
  border: none;
  background-color: #ffffff;
  border-radius: 3px;
  text-indent: 1.5em;
  height: 100%;
}


.book-my-header{
  border-bottom: 1px solid #cecece;
  overflow: hidden;
  height: 70px;
  background-color: #f7fdff ;
}
.my-head-left{
  float: left;
}
.my-head-left .btn-togger{
  width: 25px;
  height: 34px;
  position: relative;
  top: 18px;
  left: 30px;
  cursor: pointer;
}
.my-head-left .btn-togger i{
  width: 100%;
  height: 3px;
  background-color: #3f4fa0;
  position: relative;
  display: block;
}
.my-head-left .btn-togger i:nth-child(1){
  top: 6px;
}
.my-head-left .btn-togger i:nth-child(2){
  top: 12px;
}
.my-head-left .btn-togger i:nth-child(3){
  top: 18px;
}
.my-head-right{
  float: right;
  margin-right: 45px;
}
.my-head-right ul li{
  list-style: none;
  float: left;
  margin-left: 20px;
  
}
.my-head-right ul li span{
  color: #494949;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.35s ease-in;
}
.my-head-right ul li span:hover{
  color: red;
}
.my-head-right ul li i{
  display: inline-block;
  width: 23px;
  height: 18px;
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.page-inner{
}
.body-top{
  text-align: center;
}
.body-top p:first-child{
  font-size: 36px;
	line-height: 21px;
  color: #121212;
  margin-top: 50px;
  
}
.body-top p:last-child{
	font-size: 14px;
	line-height: 21px;
  color: #121212;
  text-align: left;
  margin-top: 46px;
}
.img-list{
  margin-top: 35px;
}
.img-list ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
}
.img-list ul li{
  width: 173px;
}
.img-list ul li div{
  width: 173px;
	height: 123px;
	background-color: #f5feff;
	border-radius: 5px;
  border: solid 1px #a0a0a0;
}
.img-list ul li:nth-child(2) div{
  background-color: #fffce6;
}
.img-list ul li:nth-child(3) div{
  background-color: #f1fcf6;
}
.img-list ul li:nth-child(4) div{
  background-color: #fbfdf2;
}
.img-list ul li:nth-child(5) div{
  background-color: #fff7fb;
}
.img-list ul li:nth-child(6) div{
  background-color: #f3f5f6;
}
.img-list ul li:nth-child(7) div{
  background-color: #f3f5f6;
}
.img-list ul li:nth-child(8) div{
  background-color: #fbf7ff;
}
.img-list ul li span{
  padding-top: 10px;
  display: inline-block;
  padding-bottom: 20px;
}
.my-footer{
  margin-top: 50px;
  border-top: solid 1px #cecece;
}
.my-footer p{
  margin-top: 10px;
	font-size: 14px;
	color: #424141;
}

body > div > div.book-summary > nav > ul > li:last-child{
  display: none;
}
@media (max-width: 380px) {
  .img-list ul li{
    margin: 0 auto;
  }
  .book-body{
    position: relative;
  }
  .book-summary{
    width: 200px !important;
  }
  #book-search-input{
    width: 156px;
  }
}
@media (min-width: 800px) {
    .page-wrapper {
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
  .my-head-right ul li{
    float: none;
    position: relative;
    top: -12px;
  }
  body > div > div.book-body > div > div.book-my-header > div > div.my-head-right > ul > li:nth-child(1) > span{
    margin-left: 4px;
  }
  .body-top p:first-child{
    font-size: 1em;
    list-style: none;
    margin-top: 0;
  }
}

